<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="app/css/main.css">
</head>

<body ng-app="todoApp">

<div> <!-- Heading -->
    <h1> Todo App1 </h1>
</div>

<div ng-controller="MainCtrl">
    <div>
        <input type="text" placeholder="Enter todo..." ng-model="newTodo.text" ng-keypress="keypress()">
        <input type="hidden" ng-model="newTodo.completed" value="false">
        <button ng-click="add()">Add</button>
    </div>
    <br>

    <div ng-repeat="item in todos">
        <div>
            <input type="checkbox" ng-model="item.completed"">
            <span ng-bind="item.text" ng-class="{'completed':item.completed}"></span>
            <button ng-click="delete(item)">x</button>
        </div>
    </div>
    <hr>
    <a href="#"> All</a> |
    <a href="#"> Active</a>|
    <a href="#"> Completed </a>
    <div>
        <button ng-click="clear()">Clear All</button>
    </div>
    <div>
        <button ng-click="clearCompleted()">Clear Completed</button>
    </div>
</div>

<script src="app/lib/angular.min.js"></script>
<script src="app/scripts/app.js"></script>
<script src="app/scripts/todo/todo.module.js"></script>
<script src="app/scripts/todo/controllers/todo.controller.js"></script>
<script src="app/scripts/todo/services/todo.service.js"></script>
</body>
</html>